{% extends "base.html" %}
{% block content %}
<section id="about">
    <h2>Про себе</h2>
    <img src="{{ url_for('static', filename='images/naruto.jpg') }}" alt="Фото профілю" style="width:150px;">
    <p>Коротка інформація про вас.</p>
</section>
<section id="education">
    <h2>Освіта</h2>
    <p>Інженерія програмного забезпечення 3 курс</p>
</section>
<section id="skills">
    <h2>Навички</h2>
    <ul>
        <li>Python</li>
        <li>Flask</li>
        <li>Qt</li>
        <li>HTML & CSS</li>
        <li>Java</li>
        <li>Spring</li>
        <li>C++</li>
    </ul>
</section>
<section id="experience">
    <h2>Досвід роботи</h2>
    <p>Full stack проєкт на Spring. 4 місяці розробки в PNU DEV</p>
</section>
{% endblock %}